body{
	width: 100%;
	height: 100%;
	cursor: pointer;  
	box-sizing: border-box;
}

#calc{
	margin-top: 10vh;
}

.display-up{
	width: 100%;
	height: 7vh;
	border: 2px solid black;
}

.display-down{
	width: 100%;
	height: 8vh;
	border: 2px solid black;
}

tr{
	height: 10vh;
}

td {
	width: 25%;
	vertical-align: middle;
	font-weight: 600;
	font-size: 1.5rem;
}

/* box shadow effect */
.neumorphism {
	border-radius: 40px;
	box-shadow: 5px 5px 20px #000, -5px -5px 20px #fff;
}




